.jumbotron {
    padding-top: 4rem ;
    background-color: #8a300c;

}
#card {
    
    background-color: #8a300c;
}

.bg-red {
 background-color: #69260b !important;
}

.btn-warning {
    background-color: #69260b !important; 
    color: white !important;
    border-color: #69260b !important;
    width: 150px;
}

body {
    margin: 0;
    padding: 0;
}
